4 Convolutional Neural Networks/Week 3 - Object Detection/Assignments/3. 1/model_data/variables/variables.data-00000-of-00001
4 Convolutional Neural Networks/Week 3 - Object Detection/Assignments/3. 1/model_data/variables/variables.index
4 Convolutional Neural Networks/Week 3 - Object Detection/Assignments/3. 1/nb_images/pred_video.mp4
4 Convolutional Neural Networks/Week 3 - Object Detection/Assignments/3. 1/nb_images/road_video.mp4
4 Convolutional Neural Networks/Week 4 - Special Applications - Face recognition and Neural Style Transfer/Assignments/4. 1/datasets/train_face.h5
4 Convolutional Neural Networks/Week 4 - Special Applications - Face recognition and Neural Style Transfer/Assignments/4. 1/keras-facenet-h5/model.h5
4 Convolutional Neural Networks/Week 4 - Special Applications - Face recognition and Neural Style Transfer/Assignments/4. 1/keras-facenet_tf23/variables/variables.data-00000-of-00001
4 Convolutional Neural Networks/Week 4 - Special Applications - Face recognition and Neural Style Transfer/Assignments/4. 1/nn4.small2.v7.h5
5 Sequence Models/Week 1 - Recurrent Neural Networks/Assignment/1. 3/data/training_example.mp3
5 Sequence Models/Week 1 - Recurrent Neural Networks/Assignment/1. 3/data/training_example.wav
5 Sequence Models/Week 2 - Natural Language Processing & Word Embeddings/Assignment/2. 1/data/glove.6B.50d.txt
5 Sequence Models/Week 2 - Natural Language Processing & Word Embeddings/Assignment/2. 2/data/glove.6B.50d.txt
5 Sequence Models/Week 3 - Sequence Models & Attention Mechanism/Assignment/3. 2/XY_dev/X_dev.npy
5 Sequence Models/Week 3 - Sequence Models & Attention Mechanism/Assignment/3. 2/XY_train/X.npy
5 Sequence Models/Week 4 - Transformer Network/Assignment/4. 4 Ungraded/model/pytorch/pytorch_model.bin